td,
th {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

p {
	margin: 5px;
}

input[type='number'] {
	width: 35px;
}

.progress {
	width: 60px;
}

textarea {
	width: 190px;
	height: 70px;
	resize: none;
}

.hide {
	display: none;
}