.container,
.table {
    position: relative;
}

td,
th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    min-width: 150px;
    text-align: center;
    position: relative;

    .ajax_info {
        position: absolute;
        top: 0;
        right: 0;

        img {
            width: 20px;
        }
    }
}

p {
    margin: 5px;
    text-align: left;
}

input[type='number'] {
    width: 35px;
}

.progress {
    width: 60px;
}

textarea {
    width: 190px;
    height: 70px;
    resize: none;
}

.hide {
    display: none;
}

// タスク宣言のボタン
button.add_task {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    font-weight: bolder;
    background-color: #fff;
    color: #bb1fde;
    border: solid 2px #ab11c7;
    border-radius: 3px;
    transition: 0.4s;

    &:active {
        background: #bb1fde;
        color: white;
    }

    &.hide {
        display: none;
    }
}

.todo {
    background-color: #ea74744a;
}

.doing_first {
    background-color: #ff97164a;
}

.doing_second {
    background-color: #d6e2704a;
}

.done {
    background-color: #16ff284a;
}
